extends layout

block layout-content
  div.View
    h1.Banner FUtureRPG
    div.Message
      div.Title
        h3 FUtureRPG (FU) based TTRPG
        h1 Specialized for Solo play
      span.Details Access your FUtureRPG character sheets
    div.NavButtons
      a(href="/user")
          div.NavButton Start playing