extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner FUsionRPG
    div.Message
      div.Title
        h3 FU (Freeform Universal) based TTRPG
        h1 Specialized for Solo play
      span.Details Access your FUsionRPG character sheets
    div.NavButtons
      a(href="/user")
          div.NavButton Start playing